@charset "UTF-8";
/* 폰트 설정 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
/* reset */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure, article {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}
header > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 1200px;
  margin: 0px auto;
  left: 0;
  right: 0;
  z-index: 1;
}
header > section > figure {
  width: 220px;
}
header > section > nav {
  width: calc(100% - 220px);
}
header > section > nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
header > section > nav > ul > li {
  position: relative;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 1.5rem;
}
header > section > nav > ul > li.active {
  font-family: "pretendard";
  font-weight: 700;
  font-size: 1.5rem;
}
header > section > nav > ul > li:hover > ul {
  display: block;
}
header > section > nav > ul > li > ul {
  position: absolute;
  display: none;
  background: #fff;
}
header > section > nav > ul > li > ul > li {
  padding: 10px 0;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 1.5rem;
}

footer {
  width: 100%;
  position: relative;
}
footer > section {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 1200px;
  margin: 0px auto;
  display: flex;
}
footer > .gnb {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  background: #fff;
}
footer > .gnb > ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}
footer > .gnb > ul > li {
  width: 25%;
  padding: 10px 0;
}
footer > .gnb > ul > li > figure img {
  width: 45px;
  height: 45px;
}
footer > .gnb > ul > li > figure > figcaption {
  margin-top: 10px;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 1rem;
}

header.sub {
  position: sticky;
  top: 0;
  background: #fff;
}

footer.sub::before {
  content: "";
  background-image: url("../images/KakaoTalk_20230808_171021953.png");
  width: 431px;
  height: 672px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}
footer.sub::after {
  content: "";
  background-image: url("../images/KakaoTalk_20230808_171021953_01.png");
  width: 340px;
  height: 247px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 1200px) {
  header > section {
    width: 90%;
    flex-direction: column;
    justify-content: center;
  }
  header > section > nav {
    width: 100%;
  }
  header > section > nav > ul {
    justify-content: center;
  }
  footer {
    width: 90%;
  }
}
@media (max-width: 480px) {
  header > section > nav {
    display: none;
  }
  footer .gnb {
    display: block;
  }
}
main {
  margin-bottom: 80px;
}
main article {
  width: 1200px;
  margin: 0px auto;
}

main {
  margin-top: 50px;
  width: 100%;
  position: relative;
}
main .sub_3_main1 {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
main .sub_3_main1 .title {
  font-family: "pretendard";
  font-weight: 700;
  font-size: 25px;
}
main .sub_3_main1 .search {
  width: 40%;
}
main .sub_3_main1 .search label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f1afaf;
  border-radius: 30px;
  padding: 10px;
}
main .sub_3_main1 .search label input {
  width: 80%;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: bolder;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 16px;
}
main .sub_3_main1 .search label button {
  border: 0;
  background-color: white;
}
main .sub_3_main1 .search label button img {
  filter: invert(30%) sepia(89%) saturate(5000%) hue-rotate(358deg) brightness(95%) contrast(113%);
}
main .sub_3_main2 {
  width: 1200px;
  margin: 0 auto;
}
main .sub_3_main2 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .sub_3_main2 ul li {
  margin-bottom: 30px;
  width: 30%;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  padding: 20px 30px;
}
main .sub_3_main2 ul li .matname {
  font-family: "pretendard";
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .sub_3_main2 ul li .matname p {
  background-color: #eee;
  border-radius: 20px;
  padding: 10px 20px;
}
main .sub_3_main2 ul li .matname span img {
  width: 34px;
  height: 34px;
}
main .sub_3_main2 ul li .star {
  margin-bottom: 10px;
}
main .sub_3_main2 ul li .star img {
  width: 210px;
}
main .sub_3_main2 ul li .img img {
  width: 100%;
  height: 155px;
  border-radius: 20px;
}
main .sub_3_main2 ul li .say {
  font-family: "pretendard";
  font-weight: 500;
  font-size: 16px;
}

main.wr {
  margin-bottom: 80px;
}
main.wr .write_title {
  margin-top: 200px;
  width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}
main.wr .write_title h2 {
  font-family: "pretendard";
  font-weight: 500;
  font-size: 25px;
  margin: 0 auto;
}
main.wr .write_box {
  width: 1200px;
  margin: 0px auto;
}
main.wr .write_box form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
main.wr .write_box form .heart {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main.wr .write_box form .heart p {
  font-family: "pretendard";
  font-weight: 700;
  font-size: 16px;
}
main.wr .write_box form .heart p span {
  padding: 5px 0;
  font-family: "pretendard";
  font-weight: 700;
  font-size: 25px;
  color: #FF6888;
}
main.wr .write_box form .heart .click a {
  cursor: pointer;
}
main.wr .write_box form .heart .click a span {
  font-family: "pretendard";
  font-weight: 500;
  font-size: 16px;
}
main.wr .write_box form .heart .click a span.active {
  font-family: "pretendard";
  font-weight: 500;
  font-size: 25px;
  color: #FF6888;
}
main.wr .write_box form .heart .click a input[type=radio] {
  display: none;
}
main.wr .write_box textarea {
  font-family: "pretendard";
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  height: 20.25em;
  border: none;
  resize: none;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  padding: 20px 30px;
}
main.wr .write_box textarea:focus {
  outline: 2px solid #FF6888;
}
main.wr .write_box textarea:focus::-moz-placeholder {
  color: transparent;
}
main.wr .write_box textarea:focus::placeholder {
  color: transparent;
}
main.wr .write_box label .file {
  margin: 20px 0;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 16px;
  color: #FF6888;
  vertical-align: middle;
}
main.wr .write_box label .file::file-selector-button {
  width: 150px;
  height: 30px;
  background: #F2F2F2;
  border: none;
  border-radius: 20px;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 16px;
}
main.wr .write_box form > div {
  display: flex;
  justify-content: space-between;
}
main.wr .write_box form > div > div {
  margin: 20px 0;
}
main.wr .write_box form > div > div button {
  font-family: "pretendard";
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #F2F2F2;
  margin: 0 10px;
}/*# sourceMappingURL=common.css.map */